<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>jose.aleman</username>
      <id>central</id>
    </server>
    <server>
      <username>jose.aleman</username>
      <id>snapshots</id>
    </server>
	<server>
		<id>tomcat-local</id>
		<username>tomcat</username>
		<password>s3cret</password>
	</server>
	<server>
		<id>tomcat-dev</id>
		<username>tomcat</username>
		<password>s3cret</password>
	</server>
	<server>
		<id>tomcat-qa</id>
		<username>tomcat</username>
		<password>s3cret</password>
	</server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>repo</name>
          <url>http://artifactory.boszdigital.com/artifactory/repo</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>repo</name>
          <url>http://artifactory.boszdigital.com/artifactory/repo</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>plugins-release</name>
          <url>http://artifactory.boszdigital.com/artifactory/plugins-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>plugins-snapshot</name>
          <url>http://artifactory.boszdigital.com/artifactory/plugins-snapshot</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>